* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    background-color: #151515;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#wrapper {
    width: 95%;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 8px;
}

.navbar {
    background-color: #fb7e14;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0 8px 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: center;
    gap: 8px;
    margin-top: 8px;
}

.nav-links li a {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    padding: 4px;
    font-size: 1.2rem;
    border: 2px solid white;
    border-radius: 8px;
    background-color: white;
    color: black;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-me {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 1rem;
    background-color: #292929;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 1rem;
    background-color: #292929;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
}

.skills-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    background-color: #292929;
}

#projects {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    background-color: #292929;
    padding: 1rem;
    border-radius: 8px;
}

.projects-grid, .c-sharp-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    width: 100%;
}

.c-sharp-projects, 
.cpp-projects,
.python-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.c-sharp-projects > h2,
.cpp-projects > h2,
.python-projects > h2 {
    margin-top: 1rem;
}

.project-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card-header h2 {
    margin: 0;
    text-align: center;
}

.project-card {
    background-color: #151515;
    border-radius: 8px;
    padding: 0.5rem;
    text-decoration: none;
    text-wrap: wrap;
    color: white;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

img {
    width: 50px;
    height: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fb7e14;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 2rem;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
}

@media (min-width: 800px) {
    #wrapper {
        width: 75%;
    }

    .navbar {
        flex-direction: column;
        align-items: center;

    }

    .nav-links {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .skills-section {
        flex-direction: column;
        align-items: center;
    }

    #about {
        flex-direction: row;
        gap: 1rem;
        
        align-items: flex-start;
    }

    .project-card-header {
        display: flex;
        align-items: flex-end;
        gap: 0.5rem;
        width: 50%;
    }

    project-card-header {
        color: #fb7e14;
    }
    
    .project-card {
        flex-direction: row;
        align-items: center;
        width: 100%;
        text-align: left;
        gap: 1rem;
    }

    .language-logo {
        width: 50px;
        height: 50px;
    }

    .project-card:hover,  /* Fix hover effect for both */
    .language-logo:hover {
        transform: scale(1.02);
        border-bottom: 1px solid white;
        border-color: white;
    }

    .project-card-content {
        text-align: left;
        align-self: center;
        justify-self: center;
        width: 50%;
    }

    .cpp-projects a > div,
    .python-projects a > div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
}