* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#wrapper {
    width: 95%;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 8px;
}

.navbar {
    background-color: #fb7e14;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0 8px 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.nav-links {
    list-style: none;
    display: flex;
    text-align: center;
    gap: 8px;
    margin-top: 8px;
}

.nav-links li a {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    padding: 4px;
    font-size: 1.2rem;
    border: 2px solid white;
    border-radius: 8px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills-section {
    display: flex;
    gap: 16px;
    margin-top: 1rem;
}

.about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border: 2px solid rgba(255, 255, 255, 0.452);
    border-radius: 8px;
}

img {
    width: 50px;
    height: 50px;
}

footer {
    margin-top: 3rem;
    padding: 4px;
}

@media (min-width: 600px) {
    #wrapper {
        width: 95%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
    }

    .skills-section {
        flex-direction: column;
        align-items: center;
    }

    .about-section {
        flex-direction: column;
        align-items: center;
    }
    
}