:root {
    --color-main-primary: hsl(230, 15%, 16%);
    --color-main-primary-80: hsla(230, 15%, 16%, 0.8);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-family: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    margin: 0;
}

.background-wrapper {
    background-image: url(images/minecraft-background.webp);
    background-size: 2500px;
    background-repeat: no-repeat;
    background-color: var(--color-main-primary);
}

.wrapper {
    margin: 0 auto;
    color: white;
}

.header-wrapper {
    padding: 1rem;
    background-color: var(--color-main-primary-80);
}

h1 {
    margin: 1rem;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-home {
    width: 100%;
    align-content: center;
}

.nav-ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.nav-ul > li > a {
    color: white;
    text-decoration: none;
}

.sign-in-button {
    width: 15%;
    border-radius: 1rem;
}

.first-poc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px solid white;
    padding: 1rem;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
}

.second-poc {
    padding: 1rem;
    background: var(--color-main-primary);
}